<div style="display: flex; flex-direction: column; align-items: center; justify-content: center; margin-bottom: 20px;">
<p><strong>Olá, {{ student }}</strong></p>
<br />
<p>A sua pergunta para a equipe <strong>Gympoint</strong> foi respondida.</p>
<br />
<p><strong>Pergunta</strong>:</p>
<br />
<p>{{ question }}</p>
<br/>
<p><strong>Resposta:</strong></p>
<br />
<p>{{ answer }}    (Respondida em: {{ answer_at }})</p>
</div>
